#
# Configuration for Post Porcessor
#

config VIDEO_POST
	bool "Samsung Post Processor Driver" 
	depends on VIDEO_V4L2
	default n
	---help---
	  This is a post processor driver for Samsung S3C6410.

