config S5K3BA
	bool "Samsung S5K3BA mobile camera support"
	depends on VIDEO_FIMC
	---help---
	  Samsung S5K3BA mobile camera support

config S5K3BA_CH
	int "Channel(0/1)"
	depends on S5K3BA
	default "0"

