config VIDEO_SAMSUNG
	bool "Samsung Camera Interface (FIMC) driver"
	depends on I2C && VIDEO_V4L2
	default n
	---help---
	  This is a video4linux driver for Samsung FIMC device.

config VIDEO_SAMSUNG_STATIC_MEMORY
	bool "Reserved memory allocation support"
	depends on VIDEO_SAMSUNG
	default y
	---help---
	  Enabling this option makes kernel reserves some memory spaces
	  for output frames at boot time with bootmem allocator.

config VIDEO_SAMSUNG_STATIC_MEMORY_SIZE
	int "Memory size in KB for reserve"
	depends on VIDEO_SAMSUNG_STATIC_MEMORY
	default "10240"

source "drivers/media/video/samsung/Kconfig-s5k3ba"
source "drivers/media/video/samsung/Kconfig-s5k4ba"

