config VIDEO_SAMSUNG
	bool "Samsung Multimedia Devices"
	depends on VIDEO_CAPTURE_DRIVERS && VIDEO_V4L2
	select VIDEO_FIXED_MINOR_RANGES
	default n
	---help---
	  This is a representative video4linux configuration for Samsung multimedia devices.

config VIDEO_SAMSUNG_MEMSIZE_FIMC
	int "Memory size in kbytes for FIMC"
	depends on VIDEO_SAMSUNG
	default "10240"

config VIDEO_SAMSUNG_MEMSIZE_POST
	int "Memory size in kbytes for Post Processor"
	depends on VIDEO_SAMSUNG
	default "23552"

config VIDEO_SAMSUNG_MEMSIZE_TV
	int "Memory size in kbytes for TV"
	depends on VIDEO_SAMSUNG
	default "8192"

config VIDEO_SAMSUNG_MEMSIZE_MFC
	int "Memory size in kbytes for MFC"
	depends on VIDEO_SAMSUNG
	default "0"

config VIDEO_SAMSUNG_MEMSIZE_JPEG
	int "Memory size in kbytes for JPEG"
	depends on VIDEO_SAMSUNG
	default "0"

config VIDEO_SAMSUNG_MEMSIZE_CMM
	int "Memory size in kbytes for CMM"
	depends on VIDEO_SAMSUNG
	default "0"

source "drivers/media/video/samsung/fimc/Kconfig"
source "drivers/media/video/samsung/post/Kconfig"
source "drivers/media/video/samsung/mfc/Kconfig"
source "drivers/media/video/samsung/tv/Kconfig"

